input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select {
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }
h5{font-size: 9;}
#controls {
  /* Appearance */
  background-color: White;
  padding: 0 20px 20px 20px;
  cursor: move;
  overflow-y:scroll;
  max-height:900px;
}



#better_panel {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
}

#spacer {
  /* Appearance */
  background-color: LightGrey;
  color :Gray;

}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

.multicol .shiny-options-group{
                            -webkit-column-count: 3; /* Chrome, Safari, Opera */
                            -moz-column-count: 3;    /* Firefox */
                            column-count: 3;
                            -moz-column-fill: balanced;
                            -column-fill: balanced;
                            }
                            .checkbox{
                            margin-top: 0px !important;
                            -webkit-margin-after: 0px !important; 
                            }

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}
